*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #000;

}
header h1{
    color: #fff;
    text-align: center;
}
#image_container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    
    
   
}
#image_container img{
    width: 200px;
    height: 200px;
    
  
}

#form_cont input{
    display: flex;
    width: 20%;
    border: 1px solid black;
    margin-left: 760px;
    height: 40px;       
}
#form_cont textarea{
    display: flex;
    width: 20%;
    border: 1px solid black;
    margin-left: 760px;
}
#form_cont button{
    display: flex;
    background: #000;
    color: #fff;
    width: 20%;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    margin-left: 760px;
    margin-top: 20px;
   
}
#form_title{
    background: #000;
    color: #fff;
    width: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 760px;
}
#form_title h2{
    text-align: center;
}
#ramen_form label{
    margin-left: 760px;
}

#ramen-detail {
    position: relative;
    justify-content: center;
   
}
  
.detail-image {
    height: 350px;
    
}
  
.name,
.restaurant {
    position: absolute;
    left: 800px;
    padding: 0.25rem 5rem 0.25rem 1rem;
    background-color: gainsboro
}
  
.name {
    bottom: 60px;
}
  
.restaurant {
    bottom: 20px;
}
#image_change{
    text-align: center;
}
